<h2>Audio Files</h2>

<% @repositories.each_with_index do |repo, idx| %>
  <h3>Repository:</h3>

  <%= repo %>

  <br/><hr><br/>

  <% if @samples.blank? %>
    No sample files created from this repository...
    <br/><br/>
  <% end %>
  <%= link_to 'Sync Repository', sync_repo_path(idx), class: 'button small' %>

  <br/><hr><br/>


  <ul>
    <% @samples.each do |sample| %>
      <li>
        <%= link_to sample.drum_name, sample_path(sample) %>
      </li>
    <% end %>
  </ul>

<% end %>
