// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Allan');

$dark: lighten(#121214, 50%);
$steps: 10;
$primary: #F0371A;
$controller_size: 600px;
$radius: 0px;

body {
  background: $dark;
  background-color: black;
  font-family: 'Helvetica Neue';
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 1em;
  text-align: center;
  margin-bottom: 50px;
}
#app{
    margin-bottom: 200px;
}
#scope{
  text-align: right;
}

.specs {
   width: 400;
  height: 200;
}
.flex {
  display: flex;
  // flex-direction: row;
}

.page-title{
  margin-left: 24px;
  margin-bottom: 5px;
  color: darken($primary, 15%);
  
  font-weight: normal;
  letter-spacing: 15px;
  font-size: 2em;
  font-family: sans-serif;
  text-align: right;
}

.Sequencer {
  position: relative;
  display: inline-block;
  padding: 1em;
  background: $dark;
  border-radius: 25px;
}

.notes {
  list-style-type: none;
  top: 70px;
  text-align: left;
  color: white;
  line-height: 50px;
  opacity: 0.3;
}



.buttons {
  display: flex;
  padding: 0.35em 0 0.5em;
  align-items: center;
  justify-content: center;
  
  span {
    position: absolute;
    color: black;
    top: 46px;
    left: 10px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
  }

  button, select, input {
    margin: 5px;
    outline: none;
    background: lighten($dark, 18%);
    color: black;
    padding: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(black, 0.2);
    cursor: pointer;
    border: 2px solid transparent;

    &.active {
      color: $primary;
      border: 2px solid $primary;
    }
  }

  .button-wrapper {
    position: relative;
    height: 52px;
    display: flex;
    // background-color: lighten(black, 15%);


  }

  select {
    position: relative;
    height: 42px;
    min-width: 50px;
  }
}

.step {
  box-sizing: border-radius;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  .cell {
    background: darken(#7C8789, 10%);
    border-radius: $radius;
    cursor: pointer;
    width: calc(#{$controller_size} / #{$steps} - 10px);
    height: calc(#{$controller_size} / 10 - 10px);
    margin: 5px;
    box-shadow: -1px 2px 3px -1px rgba(black, 0.7);
    transition: background 100ms ease;

    &:hover {
      background: lighten($dark, 5%);
    }

    &.active {
      background: lighten($dark, 10%);

      &.on {
        background: lighten($primary, 10%)!important;
        box-shadow: 0 3px 10px 0 rgba($primary, 0.8);
      }
    }

    &.on {
      background: $primary!important;
      box-shadow: 0 3px 10px 0 rgba($primary, 0.8);
    }
    &.note-name {
      text-align: center;
      font-family: monospace;
      font-weight: bolder;
      line-height: 50px;
      color: $primary;

      width: 175px;
      background: black;
      -webkit-box-shadow:inset 0px 0px 0px 4px $dark;
      -moz-box-shadow:inset 0px 0px 0px 4px $dark;
      box-shadow:inset 0px 0px 0px 6px $dark;
      
      // border-color: gray;


    }
  }
}

@keyframes colorize {
  from { background: hsla(0, 100%, 50%, 1) }
  to   { background: hsla(100%, 100%, 50%, 1) }
}

.env-range{
  
}

footer {
  margin-top: 2em;
  color: rgba(white, 0.6);
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;

  a {
    color: white;
    font-weight: 400;
    border-bottom: 1px dotted;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}


.btn-box{
  padding: 0px;
  border-style: solid;
  border-radius: 4px;
  border-width: medium;
  border-color: #414D4E;
  border-spacing: 5px;
  box-sizing: unset;
}

.synth-buttons{
  margin-top: 20px;
  padding-bottom: 10px;
}
.synth-row{
  float: right;
}
.flex-center{
  display: flex;
  justify-content: center;
}
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
);

button{
  line-height: normal;
}

select{
  line-height: normal;
  -webkit-appearance: menulist;
}
.visualizers{
  margin: 10px;
}
.oscilloscope{
  margin-top: 10px;
  padding: 0;
}

.spectrum{
  margin-top: 10px;
  padding: 0;
}

#load-btn.inactive{
  background: #9999a3;
  color: #5d5c5c;
}